section.header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid @redditgray;
    padding: 1%;
    max-height: 9vh;
    a.logo{
        width: 20%;
        @media @mobile{
            display: none;
          }

    }
    a.mobile{
        display: none;
        @media @mobile{
            display: flex;
            max-height: 6vh;
            max-width: 6vh;
            width: auto;
          }
    }
    h1 {
        
        color: @orangered;
        font-size: 4.5rem;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: bold;
        text-transform: lowercase;
        @media @mobile{
            font-size: 4rem;
            color: @redditgray;
          }
    }
    nav{
        
        display: flex;
        justify-content: space-between;
        min-width: 100px;
        a{
            text-decoration: none;
            color: #222222;
            font-size: 1.4rem;
            width: 5rem;
        }
    }
}

